
@model CombinedViewModel

<h2>Editar Empleado</h2>

<form  asp-action="Editar" method="post">
    <button asp-action="Erase" asp-route-Id="@Model.IdEmpleado" type="submit" class="btn btn-primary">Eliminar Empleado/a</button>
    <button asp-action="prueba" type="submit" class="btn btn-primary">Impersonar Empleado/a</button>

    <div class="form-group">
        <label asp-for="NuevoEmpleado.Nombre">Nombre del empleado/a</label>
        <input asp-for="NuevoEmpleado.Nombre" class="form-control" />
    </div>

    <div class="input-group">
        <div class="input-group-prepend">
            <div class="input-group-text">
                <select name="selectTipoId" class="form-control">

                    @{
                        var first = Model.NewTD.ElementAtOrDefault(0);
                        <option value="@first.Nombre">Tipo de identificacion</option>
                    }

                    @foreach (var item in Model.NewTD)
                    {
                        <option value="@item.Nombre">@item.Nombre</option>
                    }
                </select>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="NuevoEmpleado.ValorIdentidad">Valor de la identificacion</label>
        <input asp-for="NuevoEmpleado.ValorIdentidad" class="form-control" />
    </div>


    <div class="input-group">
        <div class="input-group-prepend">
            <div class="input-group-text">
                <select name="selectPuesto" class="form-control">
                    @{
                        var first2 = Model.NewP.ElementAtOrDefault(0);
                        <option value="@first.Nombre">Puesto de trabajo</option>
                    }

                    @foreach (var item in Model.NewP)
                    {
                        <option value="@item.Nombre">@item.Nombre</option>
                    }
                </select>
            </div>
        </div>
    </div>

    <div class="input-group">
        <div class="input-group-prepend">
            <div class="input-group-text">
                <select name="selectDepartamento" class="form-control">
                    @{
                        var first3 = Model.NewD.ElementAtOrDefault(0);
                        <option value="@first.Nombre">Departamento</option>
                    }

                    @foreach (var item in Model.NewD)
                    {
                        <option value="@item.Nombre">@item.Nombre</option>
                    }
                </select>
            </div>
        </div>
    </div>

    <button asp-action="Modificar" type="submit" class="btn btn-primary">Insertar</button>
    <button asp-action="CancelarModificar" type="submit" class="btn btn-primary">Cerrar</button>


    <div class="form-group" style="display:none;">
        <label asp-for="NombreAdmin">@Model.NombreAdmin</label>
        <input asp-for="NombreAdmin" class="form-control" />
    </div>
    <div class="form-group" style="display:none;">
        <label asp-for="IdEmpleado">@Model.IdEmpleado</label>
        <input asp-for="IdEmpleado" class="form-control" />
    </div>

</form>
@if (TempData["Message"] != null)
{
    <script>
        alert('@TempData["Message"]');
    </script>
}