
@model CombinedViewModel

<h2>Editar Empleado</h2>

<form asp-controller="Article" asp-action="Editar" method="post">
    <button asp-action="" type="submit" class="btn btn-primary">Eliminar Empleado/a</button>
    <button asp-action="prueba" type="submit" class="btn btn-primary">Impersonar Empleado/a</button>

    <div class="form-group">
        <label asp-for="NewArticulo.Nombre">Nombre del empleado/a</label>
        <input asp-for="NewArticulo.Nombre" class="form-control" />
    </div>

    <div class="input-group">
        <div class="input-group-prepend">
            <div class="input-group-text">
                <select name="selectClase" class="form-control">
                    @*@{
                        var first = Model.NewCA.ElementAtOrDefault(0);
                        <option value="@first.Nombre">Tipo de identificacion</option>
                    }

                    @foreach (var item in Model.NewCA)
                    {
                        <option value="@item.Nombre">@item.Nombre</option>
                    }*@
                </select>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="NewArticulo.Nombre">Valor de la identificacion</label>
        <input asp-for="NewArticulo.Nombre" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="NewArticulo.Nombre">Fecha de nacimiento</label>
        <input asp-for="NewArticulo.Nombre" class="form-control" />
    </div>

    <div class="input-group">
        <div class="input-group-prepend">
            <div class="input-group-text">
                <select name="selectClase" class="form-control">
                    @*@{
                        var first2 = Model.NewCA.ElementAtOrDefault(0);
                        <option value="@first.Nombre">Puesto de trabajo</option>
                    }

                    @foreach (var item in Model.NewCA)
                    {
                        <option value="@item.Nombre">@item.Nombre</option>
                    }*@
                </select>
            </div>
        </div>
    </div>

    <div class="input-group">
        <div class="input-group-prepend">
            <div class="input-group-text">
                <select name="selectClase" class="form-control">
                    @*@{
                        var first3 = Model.NewCA.ElementAtOrDefault(0);
                        <option value="@first.Nombre">Departamento</option>
                    }

                    @foreach (var item in Model.NewCA)
                    {
                        <option value="@item.Nombre">@item.Nombre</option>
                    }*@
                </select>
            </div>
        </div>
    </div>

    <button asp-action="" type="submit" class="btn btn-primary">Insertar</button>
    <button asp-action="CancelarModificar" type="submit" class="btn btn-primary">Cerrar</button>


    <div class="form-group" style="display:none;">
        <label asp-for="Codigo">@Model.Codigo</label>
        <input asp-for="Codigo" class="form-control" />
    </div>
    <div class="form-group" style="display:none;">
        <label asp-for="UserName">@Model.UserName</label>
        <input asp-for="UserName" class="form-control" />
    </div>

</form>
@if (TempData["Message"] != null)
{
    <script>
        alert('@TempData["Message"]');
    </script>
}