@model CombinedViewModel
<form asp-controller="Index" method="post">
    <div>
        <label class="Titulo-IndexU">Bienvenido/a administrador</label>
    </div>

    <div class="row">
        <div class="table-responsive">
            <table class="table table-striped" style="overflow-y:auto;">
                <thead>
                    <tr>
                        <th style="display:none">Id</th>
                        <th>Nombre</th>
                        <th>Puesto</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.LeadDetails){
                        <tr>
                        <td>@item.Nombre</td>
                        <td>@item.Puesto</td>
                        <td><button asp-action="EditarV" asp-route-Id="@item.id" type="submit" class="btn btn-primary">Editar este empleado/a</button></td>
                        </tr>
                    }
                </tbody>
                <tbody>

                    <div class="input-group">
                        <label asp-for="NewEmpleado.Nombre"></label>
                        <input asp-for="NewEmpleado.Nombre" class="form-control" class="col-8" />
                        <div class="input-group-append">
                            <button asp-action="IndexN" type="submit" class="btn btn-primary">Buscar por nombre</button>
                        </div>
                    </div>

            
					<div class="input-group-append">
						
						<button asp-action="VolverLogin" type="submit" class="btn btn-primary">Salir</button>
                        <button asp-action="CreateV" type="submit" class="btn btn-primary">Insertar</button>
					</div>

				</tbody>
			</table>
		</div>
	</div>
    <div class="form-group" style="display:none;">
        <label asp-for="NombreAdmin">@Model.NombreAdmin</label>
        <input asp-for="NombreAdmin" class="form-control" />
    </div>
    <div class="form-group" style="display:none;">
        <label asp-for="PasswordAdmin">@Model.PasswordAdmin</label>
        <input asp-for="PasswordAdmin" class="form-control" />
    </div>
</form>
@if (TempData["Message"] != null) 
{
	<script>
		alert('@TempData["Message"]');
	</script>
}